Source: pat-window
Section: unknown
Priority: optional
Maintainer: Luke <luke@unknown>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/pat-window
#Vcs-Git: https://salsa.debian.org/debian/pat-window.git
#Testsuite: autopkgtest-pkg-python

Package: pat-window
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, libax25
Suggests: python-pat-window-doc
Description: Easy Pat-Window for AX25 configuration, selecting serial.
